<h1>Leads list</h1>

<% unless @users.empty? %>

  <div class="leads">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>page views</th>
          <th></th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.tracks.size %></td>
            <td><%= link_to "show", controller: "welcome", action: "show", id: user %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

<% else %>

<p> There's no leads yet. </p>

<% end %>
