<h1>Listing Userss</h1>

<table>
  <tr>
    <th>Email</th>
    <th>page views</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td>10</td>
  </tr>
<% end %>
</table>
